body {
    background-color: #c4d3c4;
    margin: 0px;

    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: top; 
    height: 100vh;       
    width: 100vw;     
    overflow: hidden;   

    background-image: url('textures/forest.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated; 
    background-attachment: fixed;     
}

.info {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 30px;
    background-color: #9b9b9b;
    border: 5px solid #000000;
    border-radius: 12px;
    padding: 10px 20px;
    width: 30vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    color: #000000;
    font-size: 2.5vh;
    margin: 0;
}





.game {
    background-color: #ffffff;
    border: 6px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
    width: 600px;
    height: 600px;
    background-image: url('textures/grass.png');
    position: relative;

    background-repeat: repeat;
    background-size: 48px 48px; 
    background-attachment: local; 
    image-rendering: pixelated;
}


.hp {
    background-color: rgba(0, 0, 0, 0.226);
    display: flex; 
    flex-direction: column; 
    align-items: center;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    width: 72px;
    height: 224px;
    border-radius: 10px;
}
.hitPoints {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    position: relative;
    width: 64px;
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.heart {
    width: 48px;
    height: 48px;
    margin-top:8px;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.skills {
    background-color: rgba(0, 0, 0, 0.226);
    position: absolute;
    top: 512px;
    left: 146px;
    width: 308px;
    height: 72px;
    align-self: bottom;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    border-radius: 10px;
    gap: 14px;
    justify-content: center;
}
.skill {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    border: 4px solid;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
.skill:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;      
    transform: scale(1.1);    
    filter: brightness(1.2);  
}
.skill:active {
    transform: scale(0.9);    
    filter: brightness(0.8); 
    border-color: #ffcc00;    
}
#skill1 {
    border-color: #3174fa;
     background-image: url('textures/skill1.png');
}
#skill2 {
    border-color: #3174fa;
     background-image: url('textures/skill2.png');
}
#skill3 {
    border-color: #3174fa;
        background-image: url('textures/skill3.png');
}
#skill4 {
    border-color: #c300ff;
     background-image: url('textures/skill4.png');
}

.skill.cooldown {
    pointer-events: none;
    filter: grayscale(80%);
}

.skill.cooldown::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    animation: cooldown-animation 10s linear forwards; /* 5s — это время отката */
}

@keyframes cooldown-animation {
    from { height: 100%; } 
    to { height: 0%; } 
}



.game-button {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
    position: absolute;
    top: 280px;
    left: 260px;
    width: 80px;
    height: 40px;
    background-color: #9b9b9b;
    border: 4px solid #000000;
    border-radius: 5px;
}
.game-button:hover {
    background-color: #bdbdbd; 
    transform: scale(1.05);     
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.game-button:active {
    background-color: #7a7a7a; 
    transform: scale(0.95);    
    border-color: #333333;     
}


.tower {
    position: absolute;
    width: 75px;
    height:75px;
    top: 260px;
    left: 260px;
    background-color: #4a4a4a;
    border: 4px solid #222;
    border-radius: 25px;
    background-image: url('./textures/tower.png');
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

#score {
    position: absolute;
    align-self: top;
    width: 100px;
    height: 30px;
    top: 15px;
    right: 250px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.226);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.enemy {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 20%; 
    transform: translate(-50%, -50%); 
    background-image: url("./textures/enemy.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.skill-key{
    position: absolute;
    align-self: bottom;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}